attrs
bcrypt
certifi
cffi
charset-normalizer
click
Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
greenlet
gunicorn
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
psycopg2-binary
py
pycparser
PyJWT
pyparsing
pytest
requests
six
SQLAlchemy
tomli
urllib3
Werkzeug
waitress